/<template>
  <div class="box">
    <div class="left">
      <el-menu
        active-text-color="#fff"
        active-background-color="#2B373D"
        background-color="#263238"
        class="el-menu-vertical-demo"
        default-active="2"
        text-color="#8a979e"
        @open="handleOpen"
        @close="handleClose"
        :collapse="isCollapse"
        router
      >
        <h2 class="biao">
          {{ isCollapse === true ? '亚米' : '亚米建站后台' }}
        </h2>
        <!-- <h2 class="biao">亚米建站后台</h2> -->
        <el-menu-item index="/home">
          <el-icon><setting /></el-icon>
          <span>首页</span>
        </el-menu-item>
        <el-sub-menu index="/prod-prodTag">
          <template #title>
            <el-icon><location /></el-icon>
            <span>产品管理</span>
          </template>
          <el-menu-item index="/prod-prodTag">分组管理</el-menu-item>
          <el-menu-item index="/prod-prodList">产品管理</el-menu-item>
          <el-menu-item index="/prod-category">分类管理</el-menu-item>
          <el-menu-item index="/prod-prodComm">评论管理</el-menu-item>
          <el-menu-item index="/prod-spec">规格管理</el-menu-item>
        </el-sub-menu>
        <el-sub-menu index="/shop-notice">
          <template #title>
            <el-icon><location /></el-icon>
            <span>门店管理</span>
          </template>
          <el-menu-item index="/shop-notice">公告管理</el-menu-item>
          <el-menu-item index="/shop-hotSearch">热搜管理</el-menu-item>
          <el-menu-item index="/admin-indexImg">轮播图管理</el-menu-item>
          <el-menu-item index="/shop-transport">运费管理</el-menu-item>
          <el-menu-item index="/shop-pickAddr">自提点管理</el-menu-item>
        </el-sub-menu>
        <el-sub-menu index="/vip-user">
          <template #title>
            <el-icon><location /></el-icon>
            <span>会员管理</span>
          </template>
          <el-menu-item index="/vip-user">会员管理</el-menu-item>
        </el-sub-menu>
        <el-sub-menu index="/order-order">
          <template #title>
            <el-icon><location /></el-icon>
            <span>订单管理</span>
          </template>
          <el-menu-item index="/order-order">订单管理</el-menu-item>
        </el-sub-menu>
        <el-sub-menu index="/sys-area">
          <template #title>
            <el-icon><setting /></el-icon>
            <span>系统管理</span>
          </template>
          <el-menu-item index="/sys-area">地址管理</el-menu-item>
          <el-menu-item index="/sys-user">管理员列表</el-menu-item>
          <el-menu-item index="/sys-role">角色管理</el-menu-item>
          <el-menu-item index="/sys-menu">菜单管理</el-menu-item>
          <el-menu-item index="/sys-schedule">定时任务</el-menu-item>
          <el-menu-item index="/sys-config">参数管理</el-menu-item>
          <el-menu-item index="/sys-log">系统日志</el-menu-item>
        </el-sub-menu>
      </el-menu>
    </div>
    <div class="right">
      <div class="head">
        <div class="z" @click="btn" >
          <el-icon v-if="isCollapse"><Expand /></el-icon>
          <el-icon v-else><Fold /></el-icon>
        </div>
      </div>
      <main>
        <router-view></router-view>
      </main>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {
  Document,
  Menu as IconMenu,
  Location,
  Setting,
} from '@element-plus/icons-vue';
import { ref } from 'vue';
const handleOpen = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
const handleClose = (key: string, keyPath: string[]) => {
  console.log(key, keyPath);
};
const isCollapse = ref(true);
const btn = () => {
  isCollapse.value = !isCollapse.value;
};
</script>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 230px;
  min-height: 400px;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  width: 230px;
  height: 100%;
}
.el-menu-item {
  width: 100%;
  text-align: center;
  background-color: #202b30;
}
.el-menu-vertical-demo {
  width: 100%;
  height: 100%;
}
.biao {
  width: 100%;
  height: 50px;
  background-color: #02a1e9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.right {
  flex:1 ;
}
.head {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}
.z {
  padding: 0 20px;
  font-size: 18px;
  color: #909399;
  margin-top: 10px;
  cursor: pointer;
}
main {
  width: 100%;
  height: calc(100% - 50px);
  background: #f0f3f4;
}
</style>